name: Update IPTV Source

on:
  schedule:
    - cron: '0 20 * * *'  # 每天 UTC 22:00 (北京时间 06:00) 运行
  workflow_dispatch:      # 允许手动触发

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        pip install requests

    - name: Run script
      run: python main.py

    - name: Commit and push changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add live.m3u
        git commit -m "Auto update IPTV sources" || exit 0
        git push
